<div><br>
<h2>The specified count of users have been successfully created in our database.</h2>
<br>

<%= form_tag users_path, method: :get do %>  
  <%= submit_tag "Home" %>
<% end %><br><br>

</div>